# Heroes Of Pymoli Data Analysis & Insights

* Of the 560 total players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).
* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%) in terms of purchasing behavior.  
* The top spender made 5 purchases for a total value of $18.96.
* The most popular and profitable game is Oath Breaker- Last Hope of the Breaking Storm.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df["SN"].value_counts())

players_df = pd.DataFrame({"Total Players": total_players}, index = [0])

players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Unique items is the total distinct Item IDs, captured by value_counts
unique_items = len(purchase_data_df["Item ID"].value_counts())
# Use mean on the price column to get average purchase amount
avg_purchase_total = purchase_data_df["Price"].mean()
# Check the length of the Price series to get the total number of purchases
total_purchases = len(purchase_data_df["Price"])
# Sum the Price series to get the total revenue
total_revenue = purchase_data_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of unique items": unique_items,
                                       "Average price": avg_purchase_total,
                                       "Number of purchases": total_purchases,
                                       "Total revenue": total_revenue}, index = [0])

purchasing_analysis_df["Average price"] = purchasing_analysis_df["Average price"].map("${:.2f}".format)
purchasing_analysis_df["Total revenue"] = purchasing_analysis_df["Total revenue"].map("${:.2f}".format)

purchasing_analysis_df

   Number of unique items Average price  Number of purchases Total revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group by Gender in order to extract summary data
gender_grouped = purchase_data_df.groupby("Gender")
unique_members = gender_grouped["SN"].nunique()

# Create a data frame with the summary gender data
gender_demo = pd.DataFrame({"Total Counts": unique_members,
                           "Percentage of Players": 100*unique_members/total_players})

gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)

gender_demo

                       Total Counts Percentage of Players
Gender
Female                           81                 14.06
Male                            484                 84.03
Other / Non-Disclosed            11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Use methods on GroupedSeries objects to get relevant summary statistics
purchase_count = gender_grouped["Age"].count()
avg_purchase = gender_grouped["Price"].mean()
total_purchase_value = gender_grouped["Price"].sum()

# Create a summary data frame
purchasing_by_gender_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Average purchase price": avg_purchase,
                                       "Total purchase value": total_purchase_value,
                                       "Normalized Total": total_purchase_value/unique_members})

purchasing_by_gender_df["Average purchase price"] = purchasing_by_gender_df["Average purchase price"].map("${:.2f}".format)
purchasing_by_gender_df["Total purchase value"] = purchasing_by_gender_df["Total purchase value"].map("${:.2f}".format)
purchasing_by_gender_df["Normalized Total"] = purchasing_by_gender_df["Normalized Total"].map("${:.2f}".format)

purchasing_by_gender_df

,Purchase count,Average purchase price,Total purchase value,Normalized Total
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Use halves because ages are whole numbers and borders appear to be inclusive
# Made the last number very large to get any older folks included in the dataset
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 1000]

bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age group"] = pd.cut(purchase_data_df["Age"], bins, labels = bin_labels)

age_grouped = purchase_data_df.groupby("Age group")

unique_members = age_grouped["SN"].nunique()

age_demo = pd.DataFrame({"Purchase Counts": age_grouped["SN"].nunique(),
                           "Percentage of Players": 100*unique_members/total_players})

age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}".format)

age_demo

           Purchase Counts Percentage of Players
Age group
<10                     17                  2.95
10-14                   22                  3.82
15-19                  107                 18.58
20-24                  258                 44.79
25-29                   77                 13.37
30-34                   52                  9.03
35-39                   31                  5.38
40+                     12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Calculate Purchase Count, Average Purchase Price, Total Purchase Value , Average Purchase Per Person
Purchase_Count = age_grouped["Age"].count()
Average_Purchase = age_grouped["Price"].mean()
Total_Purchase_Value = age_grouped["Price"].sum()
Average_Purchase_Person =(age_grouped["Price"].sum()/unique_members)
# Create "Purchase_Analysis_Age" DataFrame to hold the above results
Purchase_Analysis_Age = pd.DataFrame({"Purchase Count":Purchase_Count,
                                     "Average Purchase Price":Average_Purchase,
                                     "Total Purchase Value":Total_Purchase_Value,
                                     "Average Purchase Total Per Person":Average_Purchase_Person})
# Data Munging
Purchase_Analysis_Age["Average Purchase Price"] = Purchase_Analysis_Age["Average Purchase Price"].map("${:.2f}".format)
Purchase_Analysis_Age["Total Purchase Value"]  = Purchase_Analysis_Age["Total Purchase Value"].map("${:.2f}".format)
Purchase_Analysis_Age["Average Purchase Total Per Person"] = Purchase_Analysis_Age["Average Purchase Total Per Person"].map("${:.2f}".format)
Purchase_Analysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Group purchase data by screen names
spender_stats = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create new data frame with items related information 
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})